@media (max-width: 1300px) {}

@media (max-width: 1120px) {}

@media (max-width: 992px) {
  .long_section {
    margin-left: 30px;
    margin-right: 30px;
  }

  .hero_area {
    min-height: auto;
  }

  .quote_btn-container a {
    margin-right: 0;
    margin-top: 10px;
  }

  .slider_section {
    padding-top: 45px;
    padding-bottom: 90px;
  }

  .quote_btn-container {
    flex-direction: column;
    align-items: center;
  }


}

@media (max-width: 768px) {

  .about_section .container  {
   margin-top: -50px;
  }

  .about_section .container h2 {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .about_section ul {
    margin-top: -35px;
  }

  .about_section li {
    margin-bottom: -15px;
  }

  .about_section .img-box {
    width: auto;
    margin-top: 35px;
    margin-bottom: 45px;
  }

  .about_section .team-pic {
    width: auto;
  }

  .about_section .team-pic img {
    width: 100%;
  }

  .about_section .actions {
    flex-direction: column;
    align-items: center;
  }

  .about_section .actions .img-box {
    justify-content: center;
    width: auto;
  }

  .about_section .actions .img-box img {
    width: 100%;
  }
  .join_us {
    margin-left: 20px;
    margin-right: 20px;

  }

  .join_us h2{
    font-size: 27px;
  }
  .furniture_section{
    margin-left: 25px;
    margin-right: 25px;
  }


  .furniture_section .heading_advertise .icon_container{
    background-color: #48A259;
    border: 2px solid #444;
    padding: 15px 0px 10px;
    margin: 0px 7px 0px 7px;
    margin-bottom: -30px;
    border-radius: 50px;
    box-shadow: 7px 9px 26px -7px rgba(0,0,0,0.64);
    -webkit-box-shadow: 10px 10px 25px -18px rgba(0,0,0,0.64);
  }

  .furniture_details_section .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
    align-items: center;
  }

  .furniture_section .row .furniture-filters  {
    padding-left: 0px;
  }

  .furniture_details_section .owl-carousel{
    margin-bottom: 70px;
    margin-top: -90px;
  }

  .furniture_details_section .back{
    margin-bottom: 55px;
    padding-bottom: 50px;
    margin-top: -80px;
  }


  .slider_section {
    padding-top: 45px;
    padding-bottom: 75px;
  }

  .slider_section .detail_box {
    text-align: center;
    padding-left: 0;
  }

  .slider_section .img-box {
    margin-top: 45px;
  }

  .about_section .img-box {
    margin-bottom: 45px;

  }

  .contact_section .form_container {
    margin-bottom: 45px;
  }

  .client_section .box {
    flex-direction: column;
    text-align: center;
    margin: 45px 15px;
  }

  .client_section .box .detail-box {
    align-items: center;
  }

  .client_section .box .img-box {
    margin-right: 0;
    margin-bottom: 25px;
  }

  .info_section .contact_nav {
    flex-direction: row;
    align-items: center;
    padding-bottom: 0;
  }
  
  .info_section .contact_nav a span {
    display: none; /* Masque le texte dans les spans */
  }

  .info_form .social_box {
    justify-content: center;
  }

  .info_form .social_box a {
    margin: 0 5px;
  }

  .contact {
    display: flex;
    flex-direction: column;
  }
  .contact h3{
    margin-top: 50px;
  }

}

@media (max-width: 576px) {
  .long_section {
    margin-left: 25px;
    margin-right: 25px;
  }


  .info_section .info_links .info_links_menu {
    margin-bottom: 35px;
  }

}

@media (max-width: 480px) {}

@media (max-width: 420px) {
  .long_section {
    margin-left: 15px;
    margin-right: 15px;
  }

  .slider_section .detail-box .btn-box {
    flex-direction: row;
  }

  .slider_section .detail-box .btn-box a {
    width: 100%;
  }

  .furniture_section .box .img-box {
    height: auto;
  }
}

@media (max-width: 376px) {
  .slider_section .detail-box h1 {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1500px;
  }
}