body {
  font-family: "Franklin Gothic", sans-serif;
  src: url("/fonts/FranklinGothic.ttf");
  color: #0c0c0c;
  background-color: #f8f8f8;
  overflow-x: hidden;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.long_section {
  margin-left: 45px;
  margin-right: 45px;
  padding-left: 15px;
  padding-right: 15px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
}

/*header section*/
.hero_area {
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sub_page .hero_area {
  min-height: auto;
}

.header_section {
  background-color: #f8f8f8;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 3px 15px;
  margin: 10px 15px;
  color: #272727;
  text-align: center;
  text-transform: uppercase;
}

.custom_nav-container .navbar-nav .nav-item .nav-link.active {
  color: #48A259;
}

.custom_nav-container .navbar-nav .nav-item .nav-link:hover {
  color: #48A259;
}


a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand span {
  font-size: 24px;
  font-weight: 700;
  color: #272727;
  text-transform: uppercase;
}
.navbar-brand img {
  max-width: 30%;
}


.custom_nav-container {
  z-index: 99999;
  padding: 5px 0;
  position: relative;
}

.custom_nav-container .navbar-toggler {
  outline: none;
  position: absolute;
  top: 30px;
  right: 10px;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}



.custom_nav-container .navbar-toggler span {
  display: block;
  width: 32px;
  height: 4px;
  background-color: #000000;
  border-radius: 15px;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  border-radius: 15px;
  top: -10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

.quote_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote_btn-container a {
  color: #151515;
  margin-right: 25px;
  text-transform: uppercase;
}

.quote_btn-container a span {
  margin-right: 5px;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #f9fafa;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #customCarousel {
  width: 100%;
  z-index: 3;
}

.slider_section .detail-box {
  color: #000000;
}

.slider_section .detail-box h1 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
}

.slider_section .detail-box p {
  margin: 25px 0;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
}

.slider_section .detail-box .btn-box a {
  margin: 5px;
  text-align: center;
  width: 165px;
}

.slider_section .detail-box .btn-box .btn1 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #f89646;
  color: #f8f8f8;
  border-radius: 0;
  border: 1px solid #f89646;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.slider_section .detail-box .btn-box .btn1:hover {
  background-color: transparent;
  color: #f89646;
}

.slider_section .detail-box .btn-box .btn2 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #48A259;
  color: #f8f8f8;
  border-radius: 0;
  border: 1px solid #48A259;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.slider_section .detail-box .btn-box .btn2:hover {
  background-color: transparent;
  color: #48A259;
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .carousel-indicators {
  position: unset;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
}

.slider_section .carousel-indicators li {
  background-color: #48A259;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
}

.slider_section .carousel-indicators li.active {
  width: 17px;
  height: 17px;
  background-color: #f89646;
}

.join_us h2{
  text-align: center;
  font-weight: bold;
}
.join_us .join-button{
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.join_us .join-button a {
  display: inline-block;
  padding: 10px 15px;
  background-color: #48A259;
  color: #f8f8f8;
  border-radius: 0;
  border: 1px solid #48A259;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.join_us .join-button a:hover{
  background-color: transparent;
  color: #48A259;
}

/*  .furniture_section .heading_advertise {
  background-color: #f4f4f4cc;
  border: 2px solid #48A259;
  padding: 15px 0px 10px;
  margin: 0 50px;
  margin-bottom: 30px;
  margin-top: -90px;
  border-radius: 50px;
  box-shadow: 7px 9px 26px -7px rgba(0,0,0,0.64);
  -webkit-box-shadow: 10px 10px 25px -18px rgba(0,0,0,0.64);
}
*/
.furniture_section {
  margin-left: 45px;
  margin-right: 45px;
}

.furniture_section .row .furniture-filters  {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
}

.furniture_section .row li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 18px 12px 18px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #444;
  margin: 0 3px 10px 3px;
  transition: all ease-in-out 0.3s;
  background: #f7f7f7;
  border-radius: 4px;
}

.furniture_section .row .filter-active {
  background: #48A259;
  color: #f8f8f8;
}

.furniture_section .heading_advertise {
  margin-bottom: 30px;
}

.furniture_section .heading_advertise h2 {
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: -80px;
  margin-bottom: 10px;

}


.furniture_section .heading_advertise .icon_container
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0;
  align-items: center;

}


.furniture_section .heading_advertise .icon_container a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f8f8f8;
}



.furniture_section .heading_advertise .icon_container img {
  width: 50px; /* Taille des icônes */
  height: auto; /* Pour maintenir le ratio hauteur-largeur */
}

.furniture_section .box {
  margin-top: 45px;
  background-color: #f4f4f4cc;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 7px 9px 26px -7px rgba(0,0,0,0.64);
  -webkit-box-shadow: 10px 10px 25px -18px rgba(0,0,0,0.64);
}

.furniture_section .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 275px;
  padding: 25px;
}

.furniture_section .box .img-box img {
  max-width: 100%;
  max-height: 100%;
}

.furniture_section .box .detail-box {
  margin-top: 15px;
}

.furniture_section .box .detail-box h5 {
  text-transform: uppercase;
  font-size: 18px;
}

.furniture_section .box .detail-box .price_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.furniture_section .box .detail-box .price_box .price_heading {
  margin-bottom: 0;
}

.furniture_section .box .detail-box .price_box .price_heading span {
  color: #48A259;
}

.furniture_section .box .detail-box .price_box a {
  color: #48A259;
  text-transform: uppercase;
  font-size: 15px;
}
.furniture_section .btn-box {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.furniture_section .btn-box .btnsells{
  display: inline-block;
  padding: 10px 15px ;
  background-color: #48A259;
  color: #f8f8f8;
  border-radius: 0;
  border: 1px solid #48A259;
  -webkit-transition: all .2s;
  transition: all .2s;
  
}
.furniture_section .btn-box .btnsells:hover{
  background-color: transparent;
  color: #48A259;

}

/* furniture details section */
.furniture_details_section .back{
  display: flex;
  justify-content: left;
  padding-left: 40px;
  padding-bottom: 60px;
  margin-top: -70px;
}

.furniture_details_section .back a {
  color: #48A259;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}

.furniture_details_section .back a:hover {
  color: #65c076;
  transition: 0.5s;
}


.furniture_details_section .owl-carousel .item img {
  display: flex;
  align-items: center;
  width: 80%;
  height: auto;
  margin: 0 auto;}

.furniture_details_section .detail-box {
  margin-top: -45px;
  background-color: #f8f8f8;
  border-radius: 25px;
  box-shadow: 4px 4px 14px -6px rgba(0,0,0,0.40);
  -webkit-box-shadow: 4px 4px 14px -6px rgba(0,0,0,0.2);
}

.furniture_details_section .owl-carousel  {
  margin-top: -45px;
  background-color: #f8f8f8;
  border-radius: 25px;
  box-shadow: 7px 9px 26px -7px rgba(0,0,0,0.64);
  -webkit-box-shadow: 10px 10px 25px -18px rgba(0,0,0,0.64);
}

.furniture_details_section .owl-carousel .price_heading {
  margin-bottom: 10px;
}

.furniture_details_section .owl-carousel  .price_heading span {
  font-size: 24px;
  font-weight: bold;
}


.furniture_details_section .detail-box h5 {
  text-transform: uppercase;
  font-size: 20px;
  justify-content: center;
  display: flex;
  color: #48A259;
  padding: 20px;
}

.furniture_details_section .detail-box h5 span {
  font-size: 25px;
  font-weight: bold;
}

.furniture_details_section .detail-box h6 {
  display: flex;
  justify-content: left; 
  padding-left: 40px;
}

.furniture_details_section .detail-box h6 span {
  font-size: 15px;
  font-weight: bold;
}

.furniture_details_section .detail-box p {

  text-align: left;
  display: flex;
  padding: 0px 40px 20px;
}

.furniture_details_section .btn-box {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.furniture_details_section .btn-box .btnsells{
  display: inline-block;
  padding: 10px 15px ;
  background-color: #48A259;
  color: #f8f8f8;
  border-radius: 0;
  border: 1px solid #48A259;
  -webkit-transition: all .2s;
  transition: all .2s;
  
}
.furniture_details_section .btn-box .btnsells:hover{
  background-color: transparent;
  color: #48A259;

}

.furniture_details_section .btn-box {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.furniture_details_section .btn-box .btn-rent{
  display: inline-block;
  padding: 10px 15px ;
  background-color: #48A259;
  color: #f8f8f8;
  border-radius: 0;
  border: 1px solid #48A259;
  -webkit-transition: all .2s;
  transition: all .2s;
  
}
.furniture_details_section .btn-box .btn-rent:hover{
  background-color: transparent;
  color: #48A259;
  
}

.furniture_details_section .price-box {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 40px 10px 10px 10px;
}

.furniture_details_section .forfait{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.furniture_details_section .price-box .saule h5{
  display: inline-block;
  padding: 10px 15px ;
  background-color: #90C85D;
  color: #f8f8f8;
  border-radius: 80px 80px 80px 80px;
  border: 1px solid #90C85D;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.furniture_details_section .price-box .pin h5{
  display: inline-block;
  padding: 10px 15px ;
  background-color: #29605D;
  color: #f8f8f8;
  border-radius: 80px 80px 80px 80px;
  border: 1px solid #29605D;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.furniture_details_section .price-box .chene h5{
  display: inline-block;
  padding: 10px 15px ;
  background-color: #4E3629;
  color: #f8f8f8;
  border-radius: 80px 80px 80px 80px;
  border: 1px solid #4E3629;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.furniture_details_section .price-box .sequoia h5{
  display: inline-block;
  padding: 10px 15px ;
  background-color: #DB742E;
  color: #f8f8f8;
  border-radius: 80px 80px 80px 80px;
  border: 1px solid #DB742E;
  -webkit-transition: all .2s;
  transition: all .2s;
}



/* about section */
.about_section .detail-box .btn-box .about-btn{
    display: inline-block;
    padding: 10px 15px;
    background-color: #f89646;
    color: #f8f8f8;
    border-radius: 0;
    border: 1px solid #f89646;
    -webkit-transition: all .2s;
    transition: all .2s;
  }

  .about_section .detail-box .btn-box .about-btn:hover{
  background-color: transparent;
  color: #f89646;
}


.about_section {
  background-color: #f9fafa;
}

.about_section .row{
  display: flex;
  justify-content: center;
}

.about_section .container h2{
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 60px;
  margin-top: -70px;
}

.about_section .img-box{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.about_section .img-box img {
  width: 80%;

}

.about_section .detail-box p {
  margin-top: 10px;
  margin-bottom: 35px;
}

.about_section h6 {
  font-size: 19px;
  line-height: 1.5;
  color: #4e4e4e;
}

.about_section h3 {
 font-weight: bold;
 text-align: center;
 text-transform: uppercase;

}
.about_section .title {
  margin-top: 30px;
  margin-bottom: -30px;
}

.about_section ul {
  list-style: none; /* Désactive les puces par défaut */
  padding-left: 20px; /* Ajoute un décalage pour les listes ordonnées */
}

.about_section li::before {
  content: "•"; /* Utilise un caractère spécial pour le "bullet" */
  color: #48A259; /* Couleur du "bullet" */
  display: inline-block; /* Assure que le "bullet" est aligné avec le texte */
  width: 1em; /* Largeur du "bullet" */
}

.about_section .team-content {
  display: grid;
  align-items: center;
} 

.about_section .team-content h3 {
  align-items: center;
  justify-content: center;
}

.about_section .team-pic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;

}
 
.about_section .team-pic a {
  text-decoration: none;
  display: block; 
}

.about_section .team-pic a img {
  width: 90%;
  height: auto; 
  display: block; 

}

.about_section .story {
  padding-top: 30px;
  display: grid;
  justify-content: center;
}

.about_section .story h6{
  padding-top: 10px;
}

.about_section .actions{
  display: flex;
  flex-direction: row;
  
}
.about_section .actions h3{
  display: grid;
  justify-content: center;
}
.about_section .actions h6{
  padding-top: 10px;
  
}

.about_section .actions .img-box {
  justify-content: right;
}

.about_section a {
  color: #48A259;
}
.about_section a:hover {
  color: #f89646;
  transition: 0.5s;
}
/* Blog section */

.blog_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog_section .heading_container h2::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.blog_section .box {
  margin-top: 55px;
  background-color: #f8f8f8;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.blog_section .box .img-box {
  position: relative;
}

.blog_section .box .img-box img {
  width: 100%;
}

.blog_section .box .detail-box {
  padding: 25px;
}

.blog_section .box .detail-box h5 {
  font-weight: bold;
}

.blog_section .box .detail-box p {
  font-size: 15px;
  color: #444;
}

.blog_section .box .detail-box a {
  display: inline-block;
  padding: 10px 30px;
  background-color: #48A259;
  color: #f8f8f8;
  border-radius: 0;
  border: 1px solid #48A259;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.blog_section .box .detail-box a:hover {
  background-color: transparent;
  color: #48A259;
}

.client_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 45px;
  padding: 35px 25px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

.client_section .box .img-box {
  border-radius: 100%;
  border: 10px solid #48A259;
  margin-right: 25px;
  min-width: 175px;
  max-width: 175px;
  overflow: hidden;
}

.client_section .box .img-box img {
  width: 100%;
}

.client_section .box .detail-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.client_section .box .detail-box .name {
  text-align: center;
}

.client_section .box .detail-box .name img {
  width: 25px;
  margin-bottom: 5px;
}

.client_section .box .detail-box .name h6 {
  color: #48A259;
  font-size: 20px;
}

.client_section .carousel_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client_section .carousel-control-prev,
.client_section .carousel-control-next {
  position: unset;
  width: 45px;
  height: 45px;
  border: none;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
  background-color: #48A259;
  background-position: center;
  border-radius: 100%;
  margin: 0 2.5px;
}

.client_section .carousel-control-prev:hover,
.client_section .carousel-control-next:hover {
  background-color: #000000;
}

.client_section .carousel-control-next {
  left: initial;
}

.contact_section {
  position: relative;
  background-color: #f9fafa;
  padding-top: 75px;
  padding-bottom: 75px;
}

.contact_section .heading_container {
  margin-bottom: 25px;
  display: grid;
  justify-content: center;
  text-align: center;
}

.contact_section .contact{
  display: flex; 
  justify-content: space-evenly;
  text-align: center;

}

.contact_section .contact .button{
  
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
  
.contact_section .contact .button a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #48A259;
    color: #f8f8f8;
    border-radius: 0;
    border: 1px solid #48A259;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  
.contact_section .contact .button a:hover{
    background-color: transparent;
    color: #48A259;
  }


/* info section */

.info_section {
  background-color: #191e1f;
  color: #f8f8f8;
  padding-top: 45px;
  padding-bottom: 45px;
  margin-left: 0px;
  margin-right: 0px;
}

.info_section .contact_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0;
  text-align: center;
}

.info_section .contact_nav a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f8f8f8;
}

.info_section .contact_nav a i {
  font-size: 28px;
}

.info_section .contact_nav a:hover {
  color: #48A259;
}



/* footer section*/
.footer_section {
  position: relative;
  text-align: center;
}

.footer_section p {
  color: #000000;
  padding: 25px 0;
  margin: 0;
}

.footer_section p a {
  color: inherit;
}
/*# sourceMappingURL=style.css.map */