---
import SubPage from "../layouts/SubPage.astro";
---

<SubPage title="A propos">
    <section class="about_section layout_padding long_section">
        <div class="container">
            <h2>A propos de nous</h2>
            <div class="row">
                <div class="col-md-7">
                    <div class="detail-box">
                        <h6>
                            Acuba est une association loi 1901 lilloise à but
                            non lucratif. Les objectifs de l’association se
                            définissent par : <br /> <br />
                            <ul>
                                <li>
                                    La collecte d’appareils électriques et
                                    électroniques ;<br />
                                </li>
                                <br />
                                <li>
                                    Le diagnostic de leur(s) problème(s) s’ils
                                    en ont ;<br />
                                </li>
                                <br />
                                <li>
                                    La réparation des problèmes diagnostiqués ou
                                    la collecte de pièces détachées ;<br />
                                </li>
                                <br />
                                <li>
                                    La revente de nos appareils aux étudiants et
                                    aux personnes dans le besoin, pour rendre le
                                    numérique accessible et écologique ;<br />
                                </li>
                                <br />
                                <li>
                                    Le financement de la reforestation dans les
                                    zones françaises où cela est nécessaire
                                    (comme en Gironde ou en Provence à la suite
                                    de feux de forêts).<br />
                                </li>
                            </ul>
                            <br>
                        </h6>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="img-box">
                        <img src="/images/reboiser.png" alt="" />
                    </div>
                </div>

                <div class="team-content">
                    <h3>Notre équipe</h3>
                    <h6>
                        Notre équipe est composée de 15 personnes, dont 4
                        membres du bureau
                    </h6>
                </div>
                <div class="team-pic">
                    <a href="mailto:valentin.de-backer@acuba.fr"
                        ><img src="/images/valentin.png" alt="" /></a
                    >
                    <a href="mailto:ines.cabral@acuba.fr"
                        ><img src="/images/ines.png" alt="" /></a
                    >
                    <a href="mailto:noe.barlet@acuba.fr"
                        ><img src="/images/noe.png" alt="" /></a
                    >
                    <a href="mailto:maxime.eisma@acuba.fr"
                        ><img src="/images/maxime.png" alt="" /></a
                    >
                </div>
                <div class="title">
                    <h3>Notre histoire</h3>
                </div>

                <div class="story">
                    <h6>
                        Notre association est née du constat que de nombreux
                        appareils électroniques étaient jetés alors qu'ils
                        pouvaient encore être utilisés. Bien souvent, dans les
                        rues empruntées pour nous rendre à notre campus, nous
                        rencontrions des télévisions, des micro-ondes, des
                        frigos, des ordinateurs... Mais également des personnes
                        dans nos entourages qui se débarrassaient de leurs
                        ordinateurs portables, leurs souris, leurs claviers,
                        leurs écrans, leurs télévisions alors qu’ils étaient
                        encore parfaitement fonctionnels ou avec de légers
                        défauts.
                        <br /><br />
                        Et nous en avons eu marre ! En 2021, nous avons crée Acuba
                        pour limiter ces déchets électroniques et le gaspillage de
                        ressource au profit des plus démunis et de notre environnement.
                        🙌
                        <br /><br />
                        Acuba a commencé par être un projet mené par nos membres
                        étudiants de l’école préparatoire au cycle de l’ingénieur
                        Adimaker avec un budget alloué de… 0€ 😬. La motivation et
                        l’investissement de nos membres a permis de réaliser nos
                        premières ventes, de nous faire connaitre auprès des étudiants
                        de notre école mais également des écoles du campus Vauban
                        et nous a permit de remporter le prix de l’engagement étudiant
                        décerné par la Fondation de l’Institut Catholique de Lille
                        2023.
                        <br /><br />
                        Cette même année, nous avons co-créer et rejoints le réseau
                        d’association d’économie circulaire étudiante ‘Campus Market’.
                        Le réseau compte 20 associations des quatre coin de la France
                        🇫🇷 et une association Suisse !🇨🇭
                        <br /><br />
                        Aujourd’hui, les membres de l’équipe Acuba sont majoritairement
                        des étudiants de l’ISEN qui oeuvrent bénévolement pour le
                        bon fonctionnement de l’association. Nous collectons, réparons
                        et revendons les appareils qui nous sont donnés pour leurs
                        offrir une seconde vie. Nous organisons également des évènements
                        de ventes et de sensibilisation, ainsi que des collectes
                        d’appareils.
                        <br /><br />
                    </h6>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <h3 class="text-uppercase mb-4">Nos actions</h3>
            <div class="row align-items-center justify-content-center">
                <div class="col-md-5 text-start mb-4">
                    <h6>
                        Nous avons eu la chance de pouvoir réaliser de un grand
                        nombre actions sur Lille depuis la création de
                        l’association. Parmi elles, de nombreuses ventes, mais
                        également deux journées de sensibilisations des
                        terminales STI2D du lycée Baggio.
                        <br /><br />
                        La vente d’appareils d’occasion permet d’éviter la production
                        d’un appareil neuf. Pour plus de détails, retrouvez notre
                        <a
                            href="/images/Rapport d'actions acuba.pdf"
                            target="_blank"
                        >
                            rapport d’actions de l’année scolaire 2022-2023</a
                        >.
                    </h6>
                </div>
                <div class="col-md-6 text-center">
                    <div class="img-box">
                        <img src="/images/baggio.jpg" alt="Action Baggio" class="img-fluid rounded shadow-sm">
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-5">
            <h3 class="text-uppercase">Nos réseaux & partenaires</h3>
            <p class="mb-4">
                Nous collaborons avec de nombreuses entreprises et associations
                et sommes membres de plusieurs réseaux pour mener à bien notre
                mission.
            </p>
            <div class="row mt-4">
                <div class="col-md-3 d-flex flex-column align-items-center">
                    <div class="partenaire-box">
                        <a href="https://www.plantonspourlavenir.fr/" target="_blank">
                            <img
                            src="images/plantons_pour_lavenir.png"
                            alt="Plantons pour l'avenir"
                            class="img-fluid mb-2"
                            />
                        </a>
                        
                    </div>
                    <div class="partenaire-text">
                        <p class="text-muted small">
                            Association de reboisement pour les forêts françaises
                            basée en Gironde
                        </p>
                    </div>
                    
                </div>
                <div class="col-md-3 d-flex flex-column align-items-center">
                    <div class="partenaire-box">
                        <a href="https://revalo.fr/" target="_blank">
                            <img
                            src="images/revalo.png"
                            alt="Revalo"
                            class="img-fluid mb-2"
                            />
                        </a>
                    </div>
                    
                    <div class="partenaire-text">
                        <p class="text-muted small">
                            Organisme qui accompagne les entreprises dans
                            revalorisation de leur parc informatique
                        </p>
                    </div>
                </div>
                <div class="col-md-3 d-flex flex-column align-items-center">
                    <div class="partenaire-box">
                        <a href="https://www.campus-market.com/" target="_blank">
                            <img
                            src="images/campus_market.png"
                            alt="Campus Market"
                            class="img-fluid mb-2"
                            />
                        </a>
                        
                    </div>
                    <div class="partenaire-text">
                        <p class="text-muted small">
                        Regroupement d'associations étudiantes tournées vers
                        économie circulaire et issues de toute la France
                        </p>
                    </div>
                    
                </div>
                <div class="col-md-3 d-flex flex-column align-items-center">
                    <div class="partenaire-box">
                        <a href="https://le-reses.org/" target="_blank">
                            <img
                            src="images/reses.png"
                            alt="RESES"
                            class="img-fluid mb-2"
                            />
                        </a>
                    </div>
                    <div class="partenaire-text">
                        <p class="text-muted small">
                            Réseau Étudiant pour une Société Écologique et Solidaire 
                            qui mènent des projets en lien avec les enjeux écologiques et solidaires
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</SubPage>
