---
import SubPage from "../layouts/SubPage.astro";
---

<SubPage title="Contact">
    <section class="contact_section long_section">
        <div class="container">
            <div class="row">
                <div class="form_container">
                    <div class="heading_container">
                        <h2>Nous contacter</h2>
                    </div>

                    <div class="contact">
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="icon">
                                    <i class="bi bi-person-fill-add"></i>                                </div>
                                <div class="text">
                                    <h3>Rejoindre l’équipe</h3>
                                    <p>
                                        Remplis le formulaire ci-dessous pour rejoindre l'équipe
                                    </p>
                                </div>
                                <div class="button">
                                    <a
                                        href="https://forms.office.com/e/Q9w4Zv73R1"
                                        target="_blank"
                                        >Je postule
                                    </a>
                                </div>
                            </div>
                            
                    
                            
                        </div>
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="icon">
                                    <i class="bi bi-box-seam-fill"></i>                                </div>
                                <div class="text">
                                    <h3>
                                      Don de materiel
                                    </h3>
                                    <p>
                                        Remplis le formulaire pour nous faire don de matériel
                                    </p>
                                </div>
                                <div class="button">
                                    <a
                                        href="https://forms.office.com/e/Z91c5Wummk"
                                        target="_blank"
                                        >Je donne
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="card">
                                <div class="icon">
                                    <i class="bi bi-envelope-arrow-up-fill" aria-hidden="true"></i>
                                </div>
                                <div class="text">
                                    <h3>
                                        Partenariats
                                    </h3>
                                    <p>
                                        Demandes de partenariats, d'interventions, etc.
                                    </p>
                            
                                </div>
                                <div class="button">
                                    <a href="mailto:contact@acuba.fr"
                                        >J'envoie un mail
                                    </a>
                                </div>

                            </div>
                            
                        </div>
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="icon">
                                    <i class="bi bi-question-lg"></i>
                                </div>
                                <div class="text">
                                    <h3>
                                      Autres demandes
                                    </h3>
                                    <p>
                                        Contact nous pour toutes autres demandes
                                    </p>
                                </div>
                                <div class="button">
                                    <a href="mailto:contact@acuba.fr"
                                        >J'envoie un mail
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</SubPage>
