---
let currentYear = new Date().getFullYear();
---

<section class="info_section long_section">
    <div class="container">
        <div class="contact_nav">
            <a href="mailto:contact@acuba.fr">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>contact@acuba.fr</span>
            </a>
            <a href="https://www.instagram.com/acuba_asso" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <span>@acuba_asso</span>
            </a>
            <a href="https://www.linkedin.com/company/acuba" target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
                <span>LinkedIn</span>
            </a>
            <a href="https://www.tiktok.com/@acuba_asso" target="_blank">
                <i class="fab fa-tiktok" aria-hidden="true"></i>
                <span>TikTok</span>
            </a>
        </div>
    </div>
</section>
<footer class="footer_section">
    <div class="container">
        <p>&copy; {currentYear} Acuba. Tous droits réservés.</p>
    </div>
</footer>
