---
const currentPage = Astro.url.pathname;
---

<header class="header_section long_section px-0">
    <nav class="navbar navbar-expand-lg custom_nav-container">
        <a class="navbar-brand" href="/">
            <img src="/images/acuba_logo.png" alt="" />
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class=""></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div
                class="d-flex mx-auto flex-column flex-lg-row align-items-center"
            >
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class={`nav-link ${currentPage === '/' ? 'active' : ''}`} href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class={`nav-link ${currentPage === '/about' ? 'active' : ''}`} href="/about">A propos</a>
                    </li>
                    <li class="nav-item">
                        <a class={`nav-link ${currentPage === '/furniture' ? 'active' : ''}`} href="/furniture">Nos appareils</a>
                    </li>
                    <li class="nav-item">
                        <!-- nav-link active &&  <span class="sr-only">(current)</span>-->
                        <a class={`nav-link ${currentPage === '/blog' ? 'active' : ''}`} href="/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class={`nav-link ${currentPage === '/contact' ? 'active' : ''}`} href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
