---
const currentPage = Astro.url.pathname;
---

<header class="header_section long_section px-0">
    <nav class="navbar navbar-expand-lg custom_nav-container">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/images/acuba_logo.png" alt="" />
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <div
                    class="d-flex mx-auto flex-column flex-lg-row align-items-center"
                >
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a
                                class={`nav-link ${currentPage === "/" ? "active" : ""}`}
                                href="/">Accueil</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class={`nav-link ${currentPage === "/about" ? "active" : ""}`}
                                href="/about">A propos</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class={`nav-link ${currentPage === "/shop" ? "active" : ""}`}
                                href="/shop">Boutique</a
                            >
                        </li>
                        <li class="nav-item">
                            <!-- nav-link active &&  <span class="sr-only">(current)</span>-->
                            <a
                                class={`nav-link ${currentPage === "/blog" ? "active" : ""}`}
                                href="/blog">Blog</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class={`nav-link ${currentPage === "/contact" ? "active" : ""}`}
                                href="/contact">Contact</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
