---
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout title="Accueil">
    <body>
        <slot />
        <Footer />
        <script is:inline src="/js/bootstrap.bundle.min.js"></script>
        <script is:inline src="/js/custom.js"></script>
    </body>
</BaseLayout>
