---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
---

<BaseLayout title={title}>
    <body class="sub_page">
        <div class="hero_area">
            <Header page={title} />
            <slot />
        </div>
        <Footer />
        <script is:inline src="/js/bootstrap.bundle.min.js"></script>
        <script is:inline src="/js/custom.js"></script>
        <script src="https://s.pageclip.co/v1/pageclip.js" charset="utf-8"></script>
    </body>
</BaseLayout>
